/*
 * CSS File for the solution
 * Assignment 03
 * You can modify these styles but you don't have to
 */

/*
 VARIABLES
*/
:root {
  /* Core colours */
  /* https://coolors.co/palette/e63946-f1faee-a8dadc-457b9d-1d3557 */
  --colour-amaranth: #e63946;
  --colour-peppermint: #f1faee;
  --colour-aquaisland: #a8dadc;
  --colour-wedgewood: #457b9d;
  --colour-cello: #1d3557;

  /* Header configuration */
  --header-heading-colour: var(--colour-peppermint);

  /* Body configuration */
  --body-default-colour: var(--colour-cello);
  --body-background-colour: var(--colour-peppermint);
}

/*
  PAGE / BODY
*/
body {
  font-family: Arial, Helvetica, sans-serif;
  min-height: 100vh;
  
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url("images/sky.jpeg");
}
/*color: var(--body-default-colour);
  background-color: var(--body-background-colour);*/

main {
  width:100%;
  max-width:540px;
  background-color: #fff;
  margin: 100px auto 20px;
  padding: 40px 30px 70px;
  border-radius: 10px;
}

h2 {
  text-align: center;
}

form {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  padding-bottom: 2rem;
}

input {
  flex:1;
  border:none;
  background:#ced4da;
  padding: 10px;
  font-weight: 14px;
  border-radius: 2rem;
}

.btn-primary {
  border:none;
  padding: 10px 20px;
  font-weight: 14px;
  border-radius: 2rem;
} 

.container {
  display: flex;
  align-items: center; 
  border: 1px solid #ccc;
  padding: 10px;
  margin-bottom: 10px;
}

ul {
  background-color: #e63946;
  list-style: none;
  font-size: 17px;
  width: 100%;
  margin: 0;
  padding:0;
}

ul li {
  background-color: #fff;
  display:flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.my-button {
  margin: 0.5rem;
  background-color: rgb(143, 143, 143)172, 166, 166;
  border:none;
  border-radius: 2rem;
}

/**** Screen reader text utility clsas *******/
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

